* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.navmenu img {
  padding-top: 0;
}
.navmenu li {
  margin-left: 3rem;
}
.navmenu .btn {
  border: none;
  color: black;
  font-weight: 800;
  font-size: 0.9rem;
  border-radius: 10px;
  width: 5rem;
}
.pageone .jumbotron {
  background-color: white;
}
.pageone h5 {
  font-weight: 400;
  font-size: 1.1rem;
}
.pageone p {
  font-weight: 100;
  font-size: 0.9rem;
  font-style: italic;
}
.pageone .btn {
  font-weight: 800;
  border-radius: 20px;
  width: 22vh;
}
 .pagetwo .card {
  margin: 1rem auto;
  border: none;
}
.pagetwo .card .card-header {
  border: none;
  height: 10rem;
  padding: 2.5rem 0;
  margin-bottom: 1rem;
}
.pagetwo .card .card-header hr {
  width: 10rem;
  background-color: white;
  border: 0.1rem white solid;
}

.pageregister .container .card-body button {
  width: 100%;
}
.pagelogin .container button {
  width: 100%;
}
.pagelogin .container p {
  font-size: 0.8rem;
  margin: 1.5rem auto;
  text-align: center;
}
.pagelogin .container a {
  font-size: 1rem;
}
.pagefive .container {
  margin: 1rem auto;
  text-align: center;
}
.pagefive .container hr {
  width: 10rem;
  background-color: #ffc107;
  border: 0.1rem #ffc107 solid;
}
.footer {
  margin-top: 8rem;
}
.footer .card {
  border: none;
}
.footer .card .card-header {
  border: none;
  height: 10rem;
  padding: 2.5rem 0;
}
.footer .card .card-header hr {
  width: 10rem;
  background-color: white;
  border: 0.1rem white solid;
}

